@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


h1,
h2,
h3,
h5,
h6,
li,
label,
button,
a {
    font-family: "Roboto", sans-serif;
}

p,
span,
b,
strong {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(86, 88, 94);

}

section {
    padding: 50px 0px;
    overflow: hidden;
}

.section_title h2 {
    margin: 0px 0px 15px 0px;
    font-size: 48px;
    line-height: 1.3;
    text-transform: capitalize;
    font-weight: 600;
}

.comman_btn {
    background-color: #4a90e2;
    padding: 17px 57px;
    border-radius: 50px;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0px;
    display: inline-block;
}






.comman_btn_2 {
    background-color: transparent;
    padding: 20px 57px;
    border: 1px solid #eee;
    border-radius: 50px;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0px;
    transition: 0.2s;
}

.comman_btn_2:hover {
    background-color: #4a90e2;
    color: #fff;

}



.comman_btn:hover {
    color: #fff !important;
}


header {
    background: #fff;
    padding: 10px 0px 10px 0px;
}

header .logo {
    width: 200px;
}

header .nav-link {
    color: #0d141a !important;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px !important;
}

header ul {
    gap: 31px;
}

/* 
.home-banner_bg {
    padding: 100px 0px;
    background-image: url(../images/banner_pic.jpeg);
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-banner_bg ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
    margin-bottom: 10px;
}

.home-banner_bg ul li i {
    color: #fff;
    font-size: 15px;
}

.home-banner_bg p {
    color: #fff;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 7px;
}

.home-banner_bg h3 {
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    width: 100%;
}
*/

.hero_video video {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    height: 100%;
    object-fit: fill;
}

.hero_video .container {
    position: relative;
    z-index: 1;
}

.hero_video {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 90px 0;
}

.star-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.star-list li i {
    color: #fff;
    font-size: 12px;
}

.star-list li {
    margin-right: 1px;
}
.hero_left h5 {
    color: #fff;
    font-size: 14px;
    margin: 15px 0;
	font-weight:400;
}
.hero_left p {
    color: #fff;
    font-size: 16px;
    margin: 0px 0 40px;
}

.hero_left h2 {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    margin: 0 0 15px;
}
.hero_right form {
    background-color: rgb(255 255 255 / 15%);
    padding: 30px;
    border-radius: 20px;
}

.hero_right .form-field label {
    color: #fff;
}

.hero_right .form-field input, .hero_right .form-field textarea {border-color: #fff;}

.hero_right button.submit-btn {
    margin: 0 auto;
    background-color: transparent;
    border-color: #fff;
    transition: all 0.3s;
}

.hero_right button.submit-btn:hover {
    background-color: #4A90E2;
    border-color: #4A90E2;
}
/* end hero */

.welcome_section .left_text h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.welcome_section .section_title {
    margin-bottom: 30px;
}

.welcome_section .left_text p {
    width: 100%;
    max-width: 515px;
}

.welcome_section .gallery_pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 10px;
}

.welcome_section .gallery_pic img {
    width: 100%;
    height: 245px;
    object-fit: cover;
}

.quality_auto {
    background: #1a1a1a;
    padding-bottom: 0;
}

.quality_auto .section_title {
    color: #fff;
    margin-bottom: 40px;
}

.quality_auto .section_title p {
    color: #fff;
}

.card_design img {
    height: 320px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card_design .card_text {
    background: #fff;
    margin-top: 15px;
    border-radius: 0;
    padding: 25px;
}

.card_design .card_text h4 {
    font-size: 20px;
    margin-bottom: 12px;
}

.car_gallery .pic_s {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 40px;
}

.car_gallery .pic_s img {
    width: 100%;
    border-radius: 15px;
    height: 350px;
    object-fit: cover;
}

.review_and_map .map iframe {
    width: 100%;
    height: 400px;
    display: block;
}

.review_bx_ {
    background: #4a90e2;
    height: 100%;
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review_bx_ img {
    height: 50px !important;
    margin: auto;
    border-radius: 50%;
    display: block;
    width: 50px !important;
}

.review_bx .icon ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 7px;
}

.review_bx {
    text-align: center;
}

.review_bx .icon ul li i {
    font-size: 16px;
    color: #fff;
    margin-top: 15px;
}

.review_bx .name {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.review_bx .review_text p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 50px;
}

.review_bx .name h2 {
    color: #fff;
    font-size: 22px;
    margin-top: 10px;
}



.footer_section {
    background-color: #1a1a1a;
    padding: 80px 0px 90px 0px;
}

.footer_section .footer_cot h2 {
    font-size: 27px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}

.footer_cot p b {
    font-size: 22px;
    color: #fff;
    width: 100%;
    max-width: 325px;
    display: inline-block;
}
.scl-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.scl-list li a {
    color: #fff;
    font-size: 20px;
}

.scl-list li {
    margin-right: 14px;
}

.footer_section .bottom_icon i {
    color: #fff;
    font-size: 25px;
}
.bottom_icon a {
    padding: 4px;
}
.footer_section .align_no {

    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    margin-top: 19px;
    margin-bottom: 30px;
    justify-content: center;
}

.footer_section .align_no a {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}

.footer_section .footer_cot span {
    font-size: 20px;
    color: #fff;
    line-height: 45px;
}

.footer_section form {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 25px;
}

.footer_section form label {
    text-transform: capitalize;
    font-size: 17px;
    text-align: left;
    color: #fff;
    margin-bottom: 10px;
}

.footer_section form input {
    padding: 15px;
    border-radius: 10px;
}

.footer_section form ::placeholder {
    text-transform: capitalize;
    color: gray;
}

.footer_section form .comman_btn {
    width: max-content;
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
    padding: 15px 45px;
}

footer .copyright-text {
    margin-top: 52px;
    padding: 15px 0px 15px 0px;
}
.copyright-text p {
    color: #fff;
    font-size: 14px;
}

footer .copyright-text span {
    color: #fff;
    font-size: 16px;
}

/* Product page */
.cmn-banner {
    padding: 90px 0;
}

.bn_cmn_title h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 15px;
}

.bn_cmn_title p {
    max-width: 560px;
    margin: 0 auto;
}
.lg-pd {
    padding: 90px 0;
}

.light-blue-bg {
    background-color: #e0f7fa;
}

.section_title p {
    max-width: 620px;
    margin: 0 auto;
}
.mr-btm {
    margin: 0 0 60px;
}
.quality-section {
    padding-bottom: 20px;
}
.prd_img img {
    width: 100%;
    display: block;
}

.prd_img {
    border-radius: 20px;
    overflow: hidden;
}

.prd_ct {
    background-color: #fff;
    padding: 40px 60px 70px;
    text-align: center;
    margin: 15px 0 0;
}
.prd_ct h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px;
    color: #0d141a;
}
.auto_inner img {
    width: 100%;
    display: block;
}

.auto_inner {
    border-radius: 20px;
    overflow: hidden;
}
/* End Product page */

/* Shipping page */
.shipping-banner {
    background-image: url("../images/shiping-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.color-white h2, .color-white p {
    color: #fff;
}

.fast-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 520px;
    margin-left: auto;
}

.fast-list li h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px;
}

.fast-list li p {
    margin: 0;
}

.fast-list li {
    margin: 0 0 35px;
}

.fast_img img {
    display: block;
    width: 100%;
    max-width: 620px;
}
.shp-left h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 60px;
}

.shp-left {
    max-width: 520px;
    width: 100%;
}
.shp-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.shp-left ul li strong {
    display: block;
    color: #0d141a;
}

.shp-left ul li a {
    color: #0d141a;
    text-decoration: none;
}

.shp-left ul li {
    margin: 0 0 15px;
}

.shp-left ul li:last-child {margin-bottom: 0;}

.fast-list li:last-child {
    margin-bottom: 0;
}

.form-field label {
    font-size: 14px;
    display: block;
}

.form-field input, .form-field textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #b8c0cc;
    border-radius: 10px;
    line-height: normal;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

button.submit-btn {
    background-color: #4A90E2;
    border: 1px solid #4A90E2;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    padding: 13px 40px;
    font-family: "Roboto", sans-serif;
}

.form-field {
    margin: 0 0 20px;
}
.form-field textarea {
    height: 96px;
}
/* End Shipping page */

/* Support page */
.sprt-form {
    padding: 40px;
    border-radius: 20px;
    position: relative;
}

.sprt-img img {
    border-radius: 20px;
    margin-left: -40px;
    max-width: 100%;
}
/* End Support page */



@media only screen and (max-width:991px){
span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}	
button.navbar-toggler {
    background-color: #000 !important;
}

.navbar-collapse ul.navbar-nav {
    gap: 12px;
}

div#navbarSupportedContent {
    padding: 20px 0;
}



	
.hero_right {
    margin-top: 40px;
}	
.quality_auto .card_design {
    margin: 0 0 30px;
}
.quality_auto {
    padding-bottom: 30px;
}
/* Footer */
.footer_section .col-lg-4 {
    text-align: left !important;
    margin: 25px 0;
}

.footer_section .align_no {
    justify-content: flex-start;
}

.footer_section .footer_cot h2 {
    font-size: 22px;
}

.footer_cot p b {
    font-size: 16px;
}

.footer_section .align_no a {
    font-size: 16px;
}

.footer_section .footer_cot span {
    font-size: 16px;
    line-height: normal;
}

.footer_section {
    padding-top: 50px;
    padding-bottom: 40px;
}

footer .copyright-text {
    margin-top: 10px;
}

.footer_section form .comman_btn {
    padding: 15px 20px;
}
/* End Footer */
}
@media only screen and (max-width:767px){
.hero_left h2 {
    font-size: 42px;
}

.hero_video {
    padding: 50px 0;
}

.hero_right form {
    padding: 20px;
}
.hero_left p {
    margin-bottom: 15px;
}

.comman_btn {
    font-size: 16px;
    padding: 15px 50px;
}
.welcome_section .gallery_pic {
    grid-template-columns: 1fr 1fr;
}
.car_gallery .pic_s {
    grid-template-columns: 1fr 1fr;
}	
/* Product page */	
.bn_cmn_title h2 {
    font-size: 42px;
}

.section_title h2 {
    font-size: 36px;
}

.mr-btm {
    margin: 0 0 30px;
}

.prd_ct {
    padding: 20px 20px;
}

.prd-rw .col-md-6 {
    margin: 0 0 30px;
}

.lg-pd {
    padding: 60px 0;
}

.auto_inner {
    margin: 10px 0;
}	
/* End Product page */	
/* Shipping page */
.shp-left h2 {
    margin: 0 0 20px;
    font-size: 36px;
}

.shp-right {
    margin: 40px 0 0;
}

.form-field input, .form-field textarea {
    padding: 12px;
}
/* End Shipping page */

/* Support page */
.sprt-img img {
    margin: 20px 0 0;
    width: 100%;
}

.review_and_map .col-lg-6 {
    padding: 0 15px !important;
}
/* End Support page */
}